<%- include('../includes/header') %>

<form action="/users/edit" method="POST">
    <div class="form-group">
        <label for="username-register" class="text-muted mb-1"><small>Username</small></label>
        <input name="username" id="username-register" class="form-control" type="text" placeholder="Pick a username"
            autocomplete="off" value="<%= profile.username %>">
    </div>
    <div class="form-group">
        <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
        <input name="email" id="email-register" class="form-control" type="text" placeholder="you@example.com"
            autocomplete="off" value="<%= profile.email %>">
    </div>
    <div class="form-group">
        <label for="password" class="text-muted mb-1"><small>Password ( leave empty if you don't want to change it
                )</small></label>
        <input name="password" class="form-control" type="password" placeholder="Create new password">
    </div>
    <div class="form-group">
        <label for="confirmation" class="text-muted mb-1"><small>New Password confirmation</small></label>
        <input name="confirmation" class="form-control" type="password" placeholder="Confirm new password">
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Sign up for OurApp</button>

</form>

<%- include('../includes/footer') %>